.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 93%;
    padding: 5px;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 10px;
}

.user-info > p {
    padding: 0;
    margin: 0;
}

.user-info > label {
    width: 96%;
    text-align: start;
}

.user-info > input, .user-info > select {
    padding: 4px 4px;
    width: 96%;
}

.error-message {
    margin: 0 0 10px 0;
    color: rgb(228, 10, 10);
}

.success-message {
    margin: 0 0 10px 0;
    color: rgb(52, 180, 14);
}