header {
    display: flex;
    justify-content: end;    
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: solid 1px grey;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
}

h2 {
    margin: 10px auto 0 auto;
    padding: 0;
}

.button {
    max-width: 140px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}

.data-field {
    border: solid 1px green;
}