body {
    background-color: rgb(235, 235, 235);
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.button-link-square {
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    border: solid 1px grey;
    padding: 15px 0;
    min-width: 150px;
    border-radius: 15px;
    text-align: center;
    
}

.hide-component {
    display: none;
}

.background-blue {
    background-color: rgb(108, 184, 255);
}

.background-blue__hover:hover {
    background-color: rgb(55, 158, 255);
}

.background-green {
    background-color: #4CAF50;
}

.background-green__hover:hover {
    background-color: #45a049;
}
